@import '~quasar-variables'
@import './prism-theme.styl'

.q-markdown
  code, pre
    font-family Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace

  code
    padding 2px 4px
    font-size 90%
    color $grey-8
    background-color $yellow-2
    border-radius $generic-border-radius

  pre
    border-radius $generic-border-radius
    padding 5px 15px
    background-image linear-gradient(transparent 3%,$yellow-1 0)
    background-size 1.5em 1.5em
    background-origin content-box
    background-attachment local
    max-height inherit
    height inherit
    display block
    overflow auto
    margin 0
    position relative
    font-size 12px
    color lighten($grey-9, 10%)
    background-color lighten($blue-2, .80)
    text-align left
    white-space pre
    word-spacing normal
    word-break normal
    word-wrap normal
    line-height 1.5em
    tab-size 4
    hyphens none
    margin-bottom 1rem

  pre code
    padding 0 5px
    font-size inherit 
    color inherit
    white-space pre-wrap
    background-color transparent
    border-radius: 0

  &--heading
    color $primary
    cursor pointer

    &:after
      content ' #'
      opacity 0

    &:hover:after
      opacity 1

    &-h1
      font-size 2rem
      line-height 2rem
      padding 1rem 0
      font-weight 500
      margin 0 0 1rem

    &-h2
      font-size 1.5rem
      line-height 1.5rem
      padding 0.5rem 0
      font-weight 500
      // border-bottom 1px solid #ccc
      margin 1rem 0 1rem

    &-h3
      font-size 1.1rem
      line-height 1.1rem
      padding 0.45rem 0
      margin 1rem 0 1rem

    &-h4
      font-size 1rem
      line-height 1rem
      padding 0.25rem 0
      margin 1rem 0

    &-h5
      font-size 0.9rem
      margin 1rem 0

    &-h6
      font-size 0.8rem
      margin 1rem 0

  &--title-heavy
    border-bottom: 3px solid #ccc;

  &--title-light
    border-bottom: 1px solid #ccc;

  &--image
    max-width 100%
    height auto

  &--link
    color $primary
    font-weight 500
    text-decoration none
    outline 0
    border-bottom 1px dotted currentColor
    vertical-align center
    transition opacity .2s
    white-space nowrap

    &:hover
      opacity .8
      background-color yellow

    &-local
      font-family inherit

    &-external
      font-family inherit
      &:after
        content '\e895'
        font-family Material Icons
        font-weight normal
        font-style normal
        display inline-block
        line-height 1
        text-transform none
        letter-spacing normal
        word-wrap normal
        white-space nowrap
        direction ltr
        text-rendering optimizeLegibility
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        font-feature-settings "liga"
        margin 0px 0px 0px 3px
        padding 0

  &--token
    white-space nowrap
    background lighten($primary, 85%)
    color $dark-primary
    font-family inherit
    border-radius $generic-border-radius
    padding 1px 5px
    margin 0

  &--note
    border-radius $generic-border-radius
    margin 16px 0
    padding 16px 24px
    font-size 1em
    letter-spacing .5px

    .q-markdown--token
      color $grey-9
    .q-markdown--link
      color darken($grey-6, 35%)

    > p
      margin-bottom 0

    &--
      border-color $grey-6
      background-color lighten($grey-6, 40%)
      color white
      .q-markdown--token
        background lighten($grey-6, 55%)
      .q-markdown--link
        color darken($grey-6, 35%)

    &--info
      border-color $blue-6
      background-color lighten($blue-6, 20%)
      color white
      .q-markdown--token
        background lighten($blue-6, 55%)
      .q-markdown--link
        color darken($blue-6, 35%)

    &--tip
      border-color $positive
      background-color lighten($positive, 20%)
      color white
      .q-markdown--token
        background lighten($positive, 55%)
      .q-markdown--link
        color darken($positive, 35%)

    &--warning
      border-color $warning
      background-color lighten($warning, 20%)
      color white
      .q-markdown--token
        background-color lighten($warning, 15%)
      .q-markdown--link
        color darken($warning, 45%)

    &--danger
      border-color $negative
      background-color lighten($negative, 60%)
      color white
      .q-markdown--token
        background lighten($negative, 65%)
      .q-markdown--link
        color darken($negative, 25%)

    &-title
      font-weight 500
      background-color rgba(0,0,0,0.1)
      border-radius $generic-border-radius
      margin-left -4px
      margin-right -4px
      padding 0 4px
      // border-bottom 1px solid lighten($grey-8, .10)

  &--table
    width fit-content
    margin-bottom 16px
    border-collapse collapse
    max-width 100%
    border-width 1px
    border-style solid
    border-color $grey

.q-markdown--table td, .q-markdown--table th
  padding 8px
  border-width 1px
  border-style solid
  border-color $grey

.q-markdown--page > div, .q-markdown--page > pre
  margin-bottom 22px

blockquote .q-markdown--token
  background-color lighten($grey-6, 80%)
  color $grey-9

blockquote.q-markdown--note
  border-width 1px 3px 1px
  border-style dotted solid
  border-color $grey-6 $teal-6

