@import './prism-theme.styl'

.q-markdown
  code, pre
    font-family Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace

  code
    padding 2px 4px
    font-size 90%
    background-color $blue-grey-1
    color $grey-10
    border-radius $generic-border-radius

  pre
    border-radius $generic-border-radius
    padding 5px 15px
    // background-image linear-gradient(transparent 3%,$yellow-1 0)
    background-size 1.5em 1.5em
    background-origin content-box
    background-attachment local
    max-height inherit
    height inherit
    display block
    overflow auto
    margin 0
    position relative
    font-size 12px
    background-color $blue-grey-1
    color $grey-10
    text-align left
    white-space pre
    word-spacing normal
    word-break normal
    word-wrap normal
    line-height 1.5em
    tab-size 4
    hyphens none
    margin-bottom 1rem

  pre code
    padding 0 5px
    font-size inherit
    color inherit
    white-space pre-wrap
    background-color transparent
    border-radius: 0

  &--heading
    color $primary
    cursor pointer

    &:after
      content ' #'
      opacity 0

    &:hover:after
      opacity 1

    &-h1
      font-size 2rem
      line-height 2rem
      padding 1rem 0
      font-weight 500
      margin 0 0 1rem

    &-h2
      font-size 1.5rem
      line-height 1.5rem
      padding 0.5rem 0
      font-weight 500
      // border-bottom 1px solid #ccc
      margin 1rem 0 1rem

    &-h3
      font-size 1.1rem
      line-height 1.1rem
      padding 0.45rem 0
      margin 1rem 0 1rem

    &-h4
      font-size 1rem
      line-height 1rem
      padding 0.25rem 0
      margin 1rem 0

    &-h5
      font-size 0.9rem
      margin 1rem 0

    &-h6
      font-size 0.8rem
      margin 1rem 0

  &--title-heavy
    border-bottom: 3px solid #ccc;

  &--title-light
    border-bottom: 1px solid #ccc;

  &--image
    max-width 100%
    height auto

  &--link
    color $primary
    font-weight 500
    text-decoration none
    outline 0
    border-bottom 1px dotted currentColor
    text-align center
    transition opacity .2s
    white-space nowrap

    &:hover
      opacity .8
      color red

    &-local
      font-family inherit

    &-external
      font-family inherit
      &:after
        content '\e895'
        font-family Material Icons
        font-weight normal
        font-style normal
        display inline-block
        line-height 1
        text-transform none
        letter-spacing normal
        word-wrap normal
        white-space nowrap
        direction ltr
        text-rendering optimizeLegibility
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        font-feature-settings "liga"
        margin 0px 0px 0px 3px
        padding 0

  &--token
    white-space nowrap
    background-color $blue-grey-1
    color $grey-10
    font-family inherit
    border-radius $generic-border-radius
    padding 1px 5px
    margin 0

  &--note
    margin 14px 0
    padding 14px 18px
    font-size 1em
    letter-spacing .5px
    background-color $blue-grey-1
    color $grey-10
    font-weight 400


    .q-markdown--token
      color $grey-9
    .q-markdown--link
      color darken($grey-6, 35%)

    &--
      border-left 10px solid lighten($grey-8, 30%)
      border-radius 8px 0 0 8px
      .q-markdown--token
        background-color lighten($grey-8, 70%)
        color $grey-10
      .q-markdown--link
        color darken($grey-6, 35%)

    &--info
      border-left 10px solid lighten($blue-8, 30%)
      border-radius 8px 0 0 8px
      color $grey-9
      background-color lighten($blue-8, 90%)
      .q-markdown--token
        background-color lighten($blue-8, 70%)
        color $grey-10
      .q-markdown--link
        color lighten($blue-8, 10%)
      .q-markdown--note-title
        color lighten($blue-8, 10%)

    &--tip
      border-left 10px solid lighten($green-8, 30%)
      border-radius 8px 0 0 8px
      color $grey-9
      background-color lighten($green-8, 90%)
      .q-markdown--token
        background-color lighten($green-8, 70%)
        color $grey-10
      .q-markdown--link
        color lighten($green-8, 10%)
      .q-markdown--note-title
        color lighten($green-8, 10%)

    &--warning
      border-left 10px solid lighten($orange-10, 30%)
      border-radius 8px 0 0 8px
      color $grey-9
      background-color lighten($orange-10, 90%)
      .q-markdown--token
        background-color lighten($orange-10, 70%)
        color $grey-10
      .q-markdown--link
        color lighten($orange-10, 10%)
      .q-markdown--note-title
        color lighten($orange-10, 10%)

    &--danger
      border-left 10px solid lighten($negative, 30%)
      border-radius 8px 0 0 8px
      color $grey-9
      background-color lighten($negative, 90%)
      .q-markdown--token
        background-color lighten($red-8, 70%)
        color $grey-10
      .q-markdown--link
        color lighten($red-8, 10%)
      .q-markdown--note-title
        color lighten($red-8, 10%)

    &-title
      font-weight 800
      margin-left -4px
      margin-right -4px
      padding 0 4px
      margin-bottom 4px

  &--table
    width fit-content
    margin-bottom 16px
    border-collapse collapse
    max-width 100%
    border-width 1px
    border-style solid
    border-color $grey

.q-markdown--table
  border-color $grey-4
  background-color: $grey-1

.q-markdown--table thead
  background-color: $grey-4

.q-markdown--table thead tr th
  padding 8px
  border-width 1px
  border-style solid
  background-color: $grey-2

.q-markdown--table tbody
  background-color: $grey-1

.q-markdown--table tbody td, .q-markdown--table tbody th
  padding 8px
  border-width 1px
  border-style solid

.q-markdown--table tbody tr:nth-child(odd)
  background-color: $grey-4

.q-markdown--page > div, .q-markdown--page > pre
  margin-bottom 22px

blockquote .q-markdown--token
  background-color lighten($grey-8, 70%)
  color $grey-8

blockquote .q-markdown--link
  background-color transparent
  color $primary !important

  &:hover
    opacity .8
    color red !important

blockquote.q-markdown--note
  border-width 1px 8px 1px 8px
  border-radius 8px
  border-style solid
  border-color $grey-6 $teal-6

