.q-markdown--line-numbers-wrapper
  display flex
  justify-content flex-start
  font-size 12px
  background $blue-grey-1
  color $grey-10
  font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
  border-radius $generic-border-radius
  margin-bottom 16px

.q-markdown--line-numbers
  padding 5px 5px 0 5px

.q-markup--line-number
  color $grey-6
  margin 0
  position relative
  text-align left
  white-space pre
  word-spacing normal
  word-break normal
  word-wrap normal
  line-height 1.5
  tab-size 4
  hyphens none

.q-markdown--code-wrapper
  width 100%
  margin-bottom -16px!important

.q-markdown--code, .q-markdown--code__inner
  margin 0
  position relative
  text-align left
  white-space pre
  word-spacing normal
  word-break normal
  word-wrap normal
  line-height 1.5
  tab-size 4
  hyphens none

.q-markdown--code
  overflow visible
  padding 0

  &__inner
    // border-left 2px solid lighten($red-2, .80)
    max-height inherit
    height inherit
    display block
    overflow auto

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata
  color #7D8B99

.token
  &.punctuation
    color #5F6364
  &.important
    font-weight normal
  &.bold
    font-weight bold
  &.italic
    font-style italic
  &.entity
    cursor help

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted
  color #c92c2c

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted
  color #2f9c0a

.token.operator
  color #ff2211

.token.entity,
.token.url,
.token.variable
  color #a67f59
  // background rgba(255, 255, 255, 0.5)

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name
  color #1990b8

.token.regex,
.token.important
  color #e90

.language-css .token.string,
.style .token.string
  color #a67f59
  background rgba(255, 255, 255, 0.5)

.namespace
  opacity .7

.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before
  color #e0d7d1

